
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 100%;
    width: auto;
    border: 3px solid #739e49;
    background-color: #2e2b2b;
    border-radius: 10px;
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    font-size: 40px;
}
body { /* Backgound and text color */
    color: white;
    background-color: #000000;
}

.Avatar {
    margin-left: auto;
}

.Avatar img {
    border: 3px solid #739e49;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Form Container */
.form-container {
    background-color: #2e2b2b;
    border: 3px solid #739e49;
    color: white;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}

.form-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.create-account {
    color: #00a2e8;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.form-container p {
    font-size: 14px;
    color: white;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit-button {
    background-color: #739e49;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: aquamarine;
}


.forgot-password {
    color: #00a2e8;
    text-decoration: none;
    font-size: 12px;
}

@media (max-width: 650px) {
    .Avatar img {
        width: 50px;
        height: 50px;
    }
}

#homelink:hover {
    color: aquamarine;
}
