/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 100%;
    width: auto;
    border: 3px solid #739e49;
    background-color: #2e2b2b;
    border-radius: 10px;
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    font-size: 40px;
}
body { /* Backgound and text color */
    color: white;
    background-color: #000000;
}

.Avatar {
    margin-left: auto;
}

.Avatar img {
    border: 3px solid #739e49;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Main Form Container */
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    gap: 40px;
    justify-content: space-evenly;
    padding: 10px;
}

.central_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #2e2b2b;
    border: 3px solid #739e49;
    padding: 20px;
    width: 50%;
    color: white;
}

/* Form Styles */
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.l-container+button {
    margin-top: 20%;
    background-color: #739e49;
    border-radius: 6px;
    padding: 10px;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
}

.file-input {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e1c004e6;
    color: rgba(107, 114, 64, 0.866);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-input:hover {
    background-color: aquamarine;
}

.file-input-2 {
    display: none;
}

#homelink:hover {
    color: aquamarine;
}

@media (max-width: 650px) {
    .Avatar img {
        width: 50px;
        height: 50px;
    }
}
