/*

Maring - The space outside before Border
Border - Line over the box
Padding - The space inside after the Border

*/

header {
    height: 100%;
    width: auto;

    border: 5px solid yellow;
    background-color: lightgray;
    border-radius: 10px;

    position: relative;

    display: flex;
    flex-direction: row;

    gap: 10px;

    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 40px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    
    border: 5px solid yellow;
    background-color: lightgray;
    border-radius: 10px;

    text-align: center;
}

.Avatar {
    padding-top: 10px;
    margin-left: auto;
}

.Avatar img {
    width: 150px;
    height: 150px;
}

.Picture {
    max-height: 500px;
    width: auto;
    height: 100%;
}

/*MOBILE SETTINGS*//*MOBILE SETTINGS*//*MOBILE SETTINGS*//*MOBILE SETTINGS*/
@media (max-width:700px) {
    .Avatar img {
        width: 60px;
        height: 60px;
    }

    .SidePanel {
        visibility: collapse;
    }

    .flex-container {
        flex-direction: column;
        gap: 0%; /* Broken in Google Chrome */
    }
}

/* FLEXBOX  *//* FLEXBOX  *//* FLEXBOX  *//* FLEXBOX  *//* FLEXBOX  *//* FLEXBOX  */

.flex-container { /* Gives options to the whole flexbox  */
    display: flex;
    flex-direction: row;
    
    align-items: stretch;
    
    height: 100%;
    gap: 40px;
    justify-content: space-evenly;

    padding-top: 10px;
    padding-bottom: 10px;
}

.SidePanel {
    width: 300px;

    background-color: lightgray;
    font-size: 40px;
    border: 3px solid yellow;
    border-radius: 10px;
    
    flex-grow: 1;
}

.flex-MainPanel {
    display: flex;
    flex-direction: column;

    height: auto;
    width: auto;
    
    /*background-color: rgb(240, 114, 114);*/
    
    min-width: 490px;
}

.Post {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;

    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

.PostHead {
    display: flex;
    flex-direction: row;

    width: auto;
    height: auto;
    align-items: center;

    /*
    background-color: greenyellow;
    */
}

.PostHead > .AvatarMini {
    margin-right: auto;
}

#headdiv ~ .AnyText a:hover {
    color: aquamarine;
}

#homelink:hover {
    color: aquamarine;
    }
    