header {
    height: 100%;
    width: auto;

    padding-top: 50px;
    padding-bottom: 0px;
    border: 5px solid yellow;
    background-color: lightgray;
    border-radius: 10px;

    position: sticky;

    display: flex;
    flex-direction: row;

    gap: 10px;

    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 40px;
}

form {
    margin-top: 20px;
    
}

label {
    font-weight: bold;

}

textarea {
    width: 80%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    resize: none;
}
.l-container+button{
    margin-top: 20%;
    margin-left: 40%;
    background-color: rgb(50, 151, 246);
    border-radius: 6px;     
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    color:whitesmoke ;       
}
button:hover {
background-color: aquamarine;
}
.flex-container { /* Gives options to the whole flexbox  */
    display: flex;
    flex-direction: row;
    
    align-items: stretch;
    
    height: 100%;
    gap: 40px;
    justify-content: space-evenly;

    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-container .central_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;


    
    background-color: rgb(240, 240, 240);
    
    width: 25%;
    height: 20%;
    
}
.l-container {
    display: flex;
    justify-content: center;
}   
.file-input {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px; /* Space around the label */
    background-color: #e1c004e6; /* Background color */
    color: rgba(107, 114, 64, 0.866); /* Text color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}
.file-input:hover {
    background-color: aquamarine;
}
.file-input-2 {
    display: none;
}
header > .Avatar {
    margin-left: auto;

}

#homelink:hover {
color: aquamarine;
}

.ClickText ~  {

}
.Avatar img{
    width: 100px;
    height: 100px;
}

@media (max-width:650px) {
    .Avatar img {
        width: 50px;
        height: 50px;
    }
}

